<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title> SML Models</title>
  <link rel="stylesheet" href="{{url_for('static', filename='css/predictions.css')}}" />
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light text-black">
    <div class="container">
      <a class="navbar-brand text-white" href="">SML Models Comparison and Price Prediction on California Housing
        Dataset</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-black" href="#" id="navbarDropdown" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Plots
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="LinReg"> Linear Regression</a>
              <a class="dropdown-item" href="Lasso">Lasso Regression</a>
              <a class="dropdown-item" href="Ridge">Ridge Regression</a>
              <a class="dropdown-item" href="ElastNet">Elast_Net Regression</a>
              <a class="dropdown-item" href="Rand_Forest">Rand_Forest Regression</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link text-black" href="/comparison">Comparison</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-black" href="/prediction">Prediction</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container content">
    <div class="row">
      <div class="col-md-8">
        <div class="col-md-12">
          <h3>Ridge Coefficients Graph and Score</h3>
          <hr>
          <img src="static/images/RidgeRegCoef.png" width="100%" alt="cloudcover">
          <br>
          <p>
            <strong>Model:</strong> Ridge Regression,
            <strong> Score:</strong> 0.8305084457719771
          </p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="col-md-12">
          <h3>Visualizations</h3>
          <hr>
          <div class="row">
            <div class="col-3 col-md-6">
              <a href="LinReg"><img class="img-thumbnail" src="static/images/LinearRegCoef.png" width="100%"
                  alt="LinReg"></a>
            </div>

            <div class="col-3 col-md-6">
              <a href="Lasso"><img class="img-thumbnail" src="static/images/LassoRegCoef.png" width="100%"
                  alt="Lasso"></a>
            </div>

            <div class="col-3 col-md-6">
              <a href="Ridge"><img class="highlight" src="static/images/RidgeRegCoef.png" width="100%" alt="Ridge"></a>
            </div>

            <div class="col-3 col-md-6">
              <a href="ElastNet"><img class="img-thumbnail" src="static/images/ElasticNetCoef.png" width="100%"
                  alt="ElastNet"></a>
            </div>
            <div class="col-6 col-md-12" style="padding-top:0px;">
              <a href="Rand_Forest"><img class="img-thumbnail" src="static/images/RandForestCoef.png" width="100%"
                  alt="Rand_Forest"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>